.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
}

.stonename {
    text-align: center;
    color: #136FFF;
    border-bottom: double 5px #FFC778;    /*線の種類（二重線）太さ 色*/
}
.msr_table02 {
  text-align: center;
  table-layout:auto;
  border-spacing:0;
  width:100%;
}
th,td {
    border: solid 1px #000;
}    
th {
     color: #FF9800;/*文字色*/
     background: #FFF;/*背景色*/	
}
td {
    color: #FF9800;/*文字色*/
    background: #FFF;/*背景色*/  
}