body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF0F5;
  color: #000;
}

.navbar-laravel {
  background-color: #FF97C2;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.navbar-brand {
  color: #000 !important;
}

.navar-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background: #FFFFBB;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #000;
  border: #000;
  background-color: #CCFFFF;
}
