h1 {
  border-bottom: solid 3px skyblue;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}
